
 </div>
</div>
</div>
<script src="/javascripts/script.js"></script>
<!-- <script>

let main = document.querySelector(".strengh");
let out = document.querySelector(".strenghout");
let inside = document.querySelector(".strenghin");
let text = document.querySelector(".strenghtext");


text.innerText="helllo"
inside.style.color="blue";




</script> -->
</body>
</html>
