

<%- include('header'); -%>

<div class="logindiv">

<form class="login" action="/forgot" method="post">
<h2>Forget Password</h2>

<h4>Email</h4>
<div class="inputdiv"><span class="material-symbols-outlined">person</span><input type="email" placeholder="Email" name="email"></div>
<h5>invalid Email</h5><br>
<button>Send</button><br>


</form>



</div>

<%- include('footer'); -%>