<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
      <div class="mainl">
        
          
          <!-- <img src="https://images.pexels.com/photos/6214937/pexels-photo-6214937.jpeg?auto=compress&cs=tinysrgb&w=1600" alt=""> -->
          <!-- <img src="https://images.pexels.com/photos/1722183/pexels-photo-1722183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> -->
          <img src="https://edexec.co.uk/wp-content/uploads/2021/01/school-building-modern-thin-line-design-style-vector-illustration-vector-id1030995160.jpg" alt="">
          <div class="mainldiv">
            <h1>Dummy Public School</h1>
        </div>
        </div>
      <div class="mainr">

        