<%- include('header'); -%>

<div class="reset">
<form action="/passwordreset/<%= id %>" method="post" class="resetdiv">
    <div>
    <h4>Input password</h4>
    <div class="inputdiv"><span class="material-symbols-outlined">lock</span><input type="password" placeholder="XXXXX" name="newpass"></div>
    <h4>Confirm password</h4>
    <div class="inputdiv"><span class="material-symbols-outlined">lock</span><input type="password" placeholder="XXXXX" name="conpass"></div>
    <div class="strength">
        <div class="strengthout">
            <div class="strengthin"></div>
        </div>
        <h5 class="strengthtext"></h5>
    </div>
    </div>
    
<button type="submit">Reset Password</button>
</form>

</div>



<%- include('footer'); -%>