

<%- include('header'); -%>

<div class="registerdiv">

<form class="login" action="/register" method="post">
<h2>Sign up</h2>


<div class="inputdiv"><span class="material-symbols-outlined">person_filled</span><input type="text" placeholder="Name" name="name"></div>


<div class="inputdiv"><span class="material-symbols-outlined">person_filled</span><input type="text" placeholder="Username" name="username"></div>

<div class="inputdiv"><span class="material-symbols-outlined">face</span><input type="text" placeholder="Mother's Name" name="mother"></div>

<div class="inputdiv"><span class="material-symbols-outlined">account_circle</span><input type="text" placeholder="Father's Name" name="father"></div>
<div class="inputdiv"><span class="material-symbols-outlined">mail</span><input type="email" placeholder="Email" name="email"></div>
<div class="inputdiv"><span class="material-symbols-outlined">book</span><input type="number" placeholder="class" name="classs"></div>


<div class="inputdiv"><span class="material-symbols-outlined">lock</span><input type="password" placeholder="Password" name="password" id="password"></div> <br>
<button>Sign up</button><br>

</form>



</div>

<%- include('footer'); -%>